.formSequenceCreated

  SequenceCreatedWidget#_form

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      %br
      = label_tag 'sequence_created', 'sequence_created'
      = text_field_tag 'sequence_created'
      %br
      = label_tag 'sequence_creation', 'sequence_creation'
      = text_field_tag 'sequence_creation'
      %br
      = label_tag 'sequence_complete', 'sequence_complete'
      = text_field_tag 'sequence_complete'
      %br
      = label_tag 'sequence_lexigram', 'sequence_lexigram'
      = text_field_tag 'sequence_lexigram'
      %br
      = label_tag 'sequence_singular', 'sequence_singular'
      = text_field_tag 'sequence_singular'
      %br
      %br
      = submit_tag "This sequence_created Submit tag will be fired automatically upon the Anagram Submit"

  %p
    Find me in app/widgets/sequence_created/_form.html.haml


-#  // Using jQuery via $j(. . .) Reference is app/views/layouts/application.html.erb

:javascript
  var form = $j("##{widget_id} form");
   
  form.submit(function() {
    $j.ajax({url: form.attr("data-event-url"), data: form.serialize()})
    return false;
  });
