.formSequenceCreated

  %p.explain= "these sequences are not yet fully processed properly"

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = text_field_tag 'sequence_text'
      = label_tag 'sequence_text', 'sequence_text'
      = text_field_tag 'sequence_creation'
      = label_tag 'sequence_creation', 'sequence_creation'
      = text_field_tag 'sequence_complete'
      = label_tag 'sequence_complete', 'sequence_complete'
      = text_field_tag 'sequence_lexigram'
      = label_tag 'sequence_lexigram', 'sequence_lexigram'
      = text_field_tag 'sequence_singular'
      = label_tag 'sequence_singular', 'sequence_singular'

      = submit_tag "Submit Sequences", { :id => "submit" }

:javascript
  var sequencesform = $j("##{widget_id} form");

  sequencesform.submit(function() {
    $j.ajax({url: sequencesform.attr("data-event-url"), data: sequencesform.serialize()})
    return false;
  });
