.formSequenceCreated

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      %br
      = text_field_tag 'sequence_text'
      = label_tag 'sequence_text', 'sequence_text'
      %br
      = text_field_tag 'sequence_creation'
      = label_tag 'sequence_creation', 'sequence_creation'
      %br
      = text_field_tag 'sequence_complete'
      = label_tag 'sequence_complete', 'sequence_complete'
      %br
      = text_field_tag 'sequence_lexigram'
      = label_tag 'sequence_lexigram', 'sequence_lexigram'
      %br
      = text_field_tag 'sequence_singular'
      = label_tag 'sequence_singular', 'sequence_singular'
      %br
      %br
      = submit_tag "This sequence_created Submit tag will be hidden, and  fired automatically upon the Anagram Submit"

:javascript
  var form = $("##{widget_id} form");
   
  form.submit(function() {
    $.ajax({url: form.attr("data-event-url"), data: form.serialize()})
    return false;
  });
