.formSequenceCreated

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = text_field_tag 'sequence_text', '', :readOnly => true
      = label_tag 'sequence_textual', 'your text sequence'
      = text_field_tag 'sequence_creation', '', :readOnly => true
      = label_tag 'sequence_creation', 'creation sequence'
      = text_field_tag 'sequence_complete', '', :readOnly => true
      = label_tag 'sequence_complete', 'complete sequence'
      = text_field_tag 'sequence_lexigram', '', :readOnly => true
      = label_tag 'sequence_lexigram', 'lexigram sequence'
      = text_field_tag 'sequence_singular', '', :readOnly => true
      = label_tag 'sequence_singular', 'singular sequence'
      .submitsequences 

      = submit_tag "Submit Sequences", { :id => "created_submit", :class => "sequencesubmit" }
-#
  = label_tag 'submit', " not refreshing page yet"

:javascript
  var formb = jQuery("#sequence_created form");

  formb.submit(function() {
    jQuery.ajax({url: formb.attr("data-event-url"), data: formb.serialize()})
    return false;
  });
