.formSequenceCreated

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = text_field_tag 'sequence_text'
      = label_tag 'sequence_text', 'your text sequence'
      = text_field_tag 'sequence_creation'
      = label_tag 'sequence_creation', 'creation sequence'
      = text_field_tag 'sequence_complete'
      = label_tag 'sequence_complete', 'complete sequence'
      = text_field_tag 'sequence_lexigram'
      = label_tag 'sequence_lexigram', 'sequence_reverse'
      = text_field_tag 'sequence_singular'
      = label_tag 'sequence_singular', 'singular sequence'
      .submitsequences 

      = submit_tag "Submit Sequences", { :id => "submit", :class => "sequencesubmit" }
      = label_tag 'submit', " not refreshing page yet"

:javascript
  var form = $j("##{widget_id} form");

  form.submit(function() {
    $j.ajax({url: form.attr("data-event-url"), data: form.serialize()})
    return false;
  });
