.sequence_created_widget_display
  
  %div.id1
    = "here begins"
    <b>app/widgets/sequence_created/display.html.haml</b>

  %p
    %small
      The five sequences are not yet firing. 
  
  = widget_div do

    = render :view => :sequence_created
    %br
    = render :view => :sequence_creation
    %br
    = render :view => :sequence_complete
    %br
    = render :view => :sequence_lexigram
    %br
    = render :view => :sequence_singular

    %div.id2
      here ends the display of 
      <b>app/widgets/sequence_created/display.html.haml</b>
