.sequenceCreatedWidgetDisplay

  .hereBegins
    here begins 
    %span.codeSource
      app/widgets/sequence_created/display.html.haml

    .hereBeginsText the five sequences below are rendered by : 
    .hereBeginsText app/widgets/sequence_created/sequence_created.html.haml
    .hereBeginsText app/widgets/sequence_created/sequence_creation.html.haml
    .hereBeginsText app/widgets/sequence_created/sequence_complete.html.haml
    .hereBeginsText app/widgets/sequence_created/sequence_lexigram.html.haml
    .hereBeginsText app/widgets/sequence_created/sequence_singular.html.haml

  .hereBegins
    here begins 
    %span.codeSource
      app/widgets/sequence_created/_form.html.haml

  .formSequenceCreated
    = render 'form'

  .noteSequenceCcreated
    %span.small= "These five sequences are not yet firing from the submit on" 
    %span.strong= "Enter New Anagram"
    %span.small= "below."
 
  .hereEnds
    here ends  
    %span.codeSource
      app/widgets/sequence_created/_form.html.haml

  %hr

  %span.small= "This widget's generated name is : "
  %span.strong= "#{widget_id}"
  %br 
  %span.small= "This widget's generated submit url is : "
  %span.strong= "#{url_for_event(:submit)}"

  .hereEnds
    here ends  
    %span.codeSource
      app/widgets/sequence_created/display.html.haml
