.sequence_created_widget_display
  
  %div.id1
    = "here begins"
    <b>app/widgets/sequence_created/display.html.haml</b>

  %p
    %small
      The five sequences are not yet firing. 
  
  = widget_div do
  
    %p
    = render :view => :sequence_created
  
    %p
    = render :view => :sequence_creation
  
    %p
    = render :view => :sequence_complete
  
    %p
    = render :view => :sequence_lexigram
  
    %p
    = render :view => :sequence_singular
  
    %div.id2
      here ends the display of 
      <b>app/widgets/sequence_created/display.html.haml</b>
