.sequence_created_widget_display

  .here_begins
    here begins 
    %span.code_source
      app/widgets/sequence_created/display.html.haml

    .here_begins_text the five sequences below are rendered by : 
    .here_begins_text app/widgets/sequence_created/sequence_created.html.haml
    .here_begins_text app/widgets/sequence_created/sequence_creation.html.haml
    .here_begins_text app/widgets/sequence_created/sequence_complete.html.haml
    .here_begins_text app/widgets/sequence_created/sequence_lexigram.html.haml
    .here_begins_text app/widgets/sequence_created/sequence_singular.html.haml

  .note_sequence_created
    %span.small= "These five sequences are not yet firing from the submit on" 
    %span.strong= "Enter New Anagram"
    %span.small= "below."
 
  .here_begins
    here begins 
    %span.code_source
      app/widgets/sequence_created/_form.html.haml

  .form_sequence_created
    = render 'form'

  .here_ends
    here ends  
    %span.code_source
      app/widgets/sequence_created/_form.html.haml

  %hr

  %span.small= "This widget's generated name is : "
  %span.strong= "#{widget_id} :"
  %br 
  %span.small= "This widget's generated submit url is : "
  %span.strong= "#{url_for_event(:submit)}"

  .here_ends
    here ends  
    %span.code_source
      app/widgets/sequence_created/display.html.haml
