.sequence_created_widget_display
  
  %div.id1
    = "here begins"
    %b
      = "app/widgets/sequence_created/display.html.haml"
    %br
    %small
    = "these five sequences below will be rendered automatically " 
    %br
    = "as you type your entry into anagram widget further below"
    %br
    %small
      = "(i have yet to write that respond to typing event code)"
    %br
    = "app/widgets/sequence_created/sequence_created.html.haml"
    %br
    %small
    = "app/widgets/sequence_created/sequence_creation.html.haml"
    %br
    %small
    = "app/widgets/sequence_created/sequence_complete.html.haml"
    %br
    %small
    = "app/widgets/sequence_created/sequence_lexigram.html.haml"
    %br
    %small
    = "app/widgets/sequence_created/sequence_singular.html.haml"

  %p
  %small
    = "The five sequences are not yet firing, from the submit on anagram." 
  
  = widget_div do
    = render :view => :sequence_created 

    = render :view => :sequence_creation

    = render :view => :sequence_complete

    = render :view => :sequence_lexigram

    = render :view => :sequence_singular

  %p

  %div.id2
    = "here ends "
    %b
      = "app/widgets/sequence_created/display.html.haml"
