.sequence_created_widget_display
  
  %hr
  
  %p
    %small
      line above begins the sequence_created_widget/display.html.haml
  %p
    %small
      The five sequences are not yet firing. 
  
  = widget_div do
  
    %p
      sequence_created = 
  
    = @sequence_created
  
    %p
      sequence_creation = 
  
    = @sequence_creation
  
    %p
      sequence_complete = 
  
    = @sequence_complete
  
    %p
      sequence_lexigram = 
  
    = @sequence_lexigram
  
    %p
      sequence_singular = 
  
    = @sequence_singular
  
    %p
      %small
        line below ends the display of /app/cells/sequence_created_widget/display.html.haml
   
  %hr
  