.sequencer_widget_display

  %p
    Welcome to the <b>sequencer_widget_display</b>

  = "You have #{:anagrams.size} anagrams in the anagrams table"
  %br
  = "You have #{:quotes.size} quotes in the quotes table"
  %br
  = "You have #{:sequence_createds.size} createds in the sequence_createds table"