.sequencer_widget_display

  %p
    Welcome to the <b>sequencer_widget_display</b>

  = "You have #{Anagram.count} anagrams in the anagrams table"
  %br
  = "You have #{Quote.count} quotes in the quotes table"
  %br
  = "You have #{SequenceCreated.count} createds in the sequence_createds table"
  %br
