<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text, :size => 75 %>
  </div>
  <div class="field">
    <%= f.label :sequence_created_id %><br />
    <%= f.text_field :sequence_created_id %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :lifedates %><br />
    <%= f.text_field :lifedates %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :size => 75 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr>
<hr>
<hr>

<div id="sequencerSecond">
 This is the second sequencer.
  <br />
<form data-remote="true" action="">
  <label for=quoteEntry>Enter Quote Text</label>:
  <input id="quoteEntry" name="quoteEntry" type="string" size="100" />
 </p>
 <input id="submit" type=submit value="Calculate sequence_singular" />
 <script>
  var quoteEntry = document.getElementById('quoteEntry');
  var output = document.createElement('p');
  output.textContent = 'Type your entry, it will be sequenced right then!';
  quoteEntry.form.appendChild(output);
  quoteEntry.form.onsubmit = function() { return false; }
  quoteEntry.oninput = function() {
    var v = quoteEntry.value.split('').sort().toString();
    output.textContent = v + "  << this is the sequence_complete";
  };
  var submit = document.getElementById('submit');
  submit.parentNode.removeChild(submit);
 </script>
</form>
</div>
<hr>
<hr>
<hr>
