<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text, :size => 75 %>
  </div>
<!--
  <div class="field">
    <%= f.label :sequence_created_id %><br />
    <%= f.text_field :sequence_created_id %>
  </div>
-->
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :lifedates %><br />
    <%= f.text_field :lifedates %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :size => 75 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
