<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @quote.text %>
</p>

<p>
  <b>Author:</b>
  <%= @quote.author %>
</p>

<p>
  <b>Lifedates:</b>
  <%= @quote.lifedates %>
</p>

<p>
  <b>Description:</b>
  <%= @quote.description %>
</p>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Edit', edit_quote_path(@quote) %> |
  <%= link_to 'Back', quotes_path %>
</div>