<h1>Listing sequence_createds</h1>

<table>
  <tr>
    <th>Sequence text</th>
    <th>Sequence creation</th>
    <th>Sequence complete</th>
    <th>Sequence lexigram</th>
    <th>Sequence singular</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sequence_createds.each do |sequence_created| %>
  <tr>
    <td><%= sequence_created.sequence_text %></td>
    <td><%= sequence_created.sequence_creation %></td>
    <td><%= sequence_created.sequence_complete %></td>
    <td><%= sequence_created.sequence_lexigram %></td>
    <td><%= sequence_created.sequence_singular %></td>
    <td><%= link_to 'Show', sequence_created %></td>
    <td><%= link_to 'Edit', edit_sequence_created_path(sequence_created) %></td>
    <td><%= link_to 'Destroy', sequence_created, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'New Sequence created', new_sequence_created_path %>
</div>