<p id="notice"><%= notice %></p>

<p>
  <b>Sequence created:</b>
  <%= @sequence_created.sequence_text %>
</p>

<p>
  <b>Sequence creation:</b>
  <%= @sequence_created.sequence_creation %>
</p>

<p>
  <b>Sequence complete:</b>
  <%= @sequence_created.sequence_complete %>
</p>

<p>
  <b>Sequence lexigram:</b>
  <%= @sequence_created.sequence_lexigram %>
</p>

<p>
  <b>Sequence singular:</b>
  <%= @sequence_created.sequence_singular %>
</p>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Edit', edit_sequence_created_path(@sequence_created) %> |
  <%= link_to 'Back', sequence_createds_path %>
</div>
