<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'All Sequences', sequences_path %> |
  <%= link_to 'New Sequence', new_sequence_path %>
</div>


<div class="sequence_search_singulars">
  <div id="search_sequence_singulars"><span>Search the Singular Sequence of Your Entry</span>
    <%= form_tag 'list', :action => 'list', :method => 'get' do %>
    <%= text_field_tag "sequencetext" %>
 
    <%= submit_tag "Search Singular", :id => 'singulars_search_submit', :name => 'singulars_search_submit' %>
    <% end %>
  </div>
</div>

<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'Anagramsearch', :controller => :anagramsearch, :action => :display %> | 
  <%= 'Singulars' %> | 
  <%= link_to 'Lexigrams', :controller => :lexigrams, :action => :display %> | 
  <%= link_to 'Completes', :controller => :completes, :action => :display %> | 
  <%= link_to 'Creations', :controller => :creations, :action => :display %> | 
  <%= link_to 'Texts', :controller => :texts, :action => :display %>
</div>
