<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'New Sequence', new_sequence_path %> | 
  <%= link_to 'Search Singular', :controller => :singulars, :action => :display %>
</div>

<h2>singular sequence search results</h2>

  <%= "your processed entry  ::: " + @sequencetextdecommaed %><br />
  <%= "its singular sequence ::: " + @singular_sequence %><br />
  <%= "total matches found :::: " + @singulars_count %><br /><br /> 

<div id="singulars">
  <table>
    <tr>
      <th>Text Entries</th>
      <th></th>
      <th></th>
    </tr>

    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.sequence_text %></td>
        <td><%= link_to 'Show', sequence %></td>
        <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'New Sequence', new_sequence_path(@sequence) %> | 
  <%= link_to 'Search Singular', :controller => :singulars, :action => :display %>
</div>
