.formAnagram

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = label_tag 'text', 'enter anagram text'
      = text_field_tag 'text'
      = label_tag 'description', 'description'
      = text_field_tag 'description'
      = label_tag 'reference', 'reference'
      = text_field_tag 'reference'

      = submit_tag "Submit Anagram"

/ Using jQuery via $j(. . .) Reference is app/views/layouts/application.html.erb

:javascript
  var form = $("##{widget_id} form");
  
  form.submit(function() {
    $j.ajax({url: form.attr("data-event-url"), data: form.serialize()})
    return false;
  });
