.formAnagram

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = text_field_tag 'anagramText'
      = label_tag 'anagramText', 'enter anagram text'
      %br
      = text_field_tag 'description'
      = label_tag 'description', 'description'
      %br
      = text_field_tag 'reference'
      = label_tag 'reference', 'reference'
      %br 
      = submit_tag "Submit Anagram"

  :javascript
    var form = $("##{widget_id} form");
  
    form.submit(function() {
      $.ajax({url: form.attr("data-event-url"), data: form.serialize()})
      return false;
    };
