.formAnagram

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = text_field_tag 'anagram_text', 'Enter_Your_Data', :size => '30', :maxlength => '250'
      = label_tag 'anagram_text', 'Enter Anagram'
      = text_field_tag 'description', '', :size => '30', :maxlength => '250'
      = label_tag 'description', 'description'
      = text_field_tag 'reference', '', :size => '30', :maxlength => '250'
      = label_tag 'reference', 'reference'

      = submit_tag "Submit Anagram", { :id => "submit" }
      
      .linkTo#reset= link_to 'Reset Page', :root
