.formAnagram

  = widget_div do
    = form_tag "",
      "data-event-url" => url_for_event(:submit), :remote => true do
      = text_field_tag 'anagram_text' 
      = label_tag 'anagram_text', 'Enter Anagram Text'
      = text_field_tag 'description'
      = label_tag 'description', 'description'
      = text_field_tag 'reference'
      = label_tag 'reference', 'reference'

      = submit_tag "Submit Anagram"

:javascript
  var anagramdisplay = $j('#anagramListDisplay');

    function() {
      if (anagramdisplay.is(':visible')) {
        anagramdisplay.hide()
      }
      else
      {
        anagramdisplay.hide();
      }
    };

  var form = $j("##{widget_id} form");

  form.submit(function() {
    $j.ajax({url: form.attr("data-event-url"), data: form.serialize()})
    return false;
  });
