.anagram_widget_display
  
  %div.id
    here begins
    <b>app/widgets/anagram/display.html.haml</b>

  %hr

  %p
    = link_to 'To Add a New Anagram', new_anagram_path 
    <= using http://localhost:3000/anagrams/new
  %br
    Add anagram box is not yet entering data into database, nor firing the five sequences.

  = widget_div do
    = form_tag url_for_event(:submit), :remote => true do
      = text_field_tag 'id'
      = text_field_tag 'text'
      = text_field_tag 'description'
      = text_field_tag 'reference'

      = submit_tag "Enter New Anagram"

    %p 

    %hr

    %p
      This is the list of anagrams in the database :

    %ol
      - for anagram in @anagrams
        %li=anagram.text 

    %p
      = link_to 'Add a New Anagram', new_anagram_path 
      <= using http://localhost:3000/anagrams/new
  
    .cellular_quote
      = render_cell :quote, :display, :quote => @quote

    %p 
      %small
        &nbsp;&nbsp;&nbsp;&nbsp; the call to the above QuoteCell is made from : app/widgets/anagram/display.html.haml

    %div.id2
      here ends
      <b>app/widgets/anagram/display.html.haml</b>

  
  :javascript
    var form = $("##{widget_id} form");
   
    form.submit(function() {
      $.ajax({url: form.attr("data-event-url"), data: form.serialize()})
      return false;
    });
