.anagram_widget_display
  
  %div.id1
    here begins
    %b app/widgets/anagram/display.html.haml

  %hr

  %p These add an anagram boxes are widget powered, and are now entering data into database, but not yet refreshing, nor firing the five sequences.

  = widget_div do
    = form_tag "", "data-event-url" => url_for_event(:submit), :remote => true do
      = label_tag 'text', 'enter anagram text'
      = text_field_tag 'text'
      = label_tag 'description', 'description'
      = text_field_tag 'description'
      = label_tag 'reference', 'reference'
      = text_field_tag 'reference'

      = submit_tag "Enter New Anagram"

  %p

  %hr

  %p
    These are the last ten anagrams entered into the database : 

  %ul
    - for anagram in @anagrams
      %li=anagram.text

  %p

  %hr

  %p
  %small
    = link_to 'Another non-widget way to Add a New Anagram', new_anagram_path 
    = " using normal controller/view : http://localhost:3000/anagrams/new"
  
  %p
  %br

  .cellular_quote
    = render_cell :quote, :display, :quote => @quote

  %p 
  %small
    &nbsp;&nbsp;&nbsp;&nbsp; The call to the above First Quote Cell is made from : app/widgets/anagram/display.html.haml

  %p

  %hr

  %small This widget's generated name is :  
  %b= "#{widget_id}"

  %br

  %small This widget's generated submit url is : 
  %b= "#{url_for_event(:submit)}"

  %div.id2
    here ends
    %b app/widgets/anagram/display.html.haml

    %br

-# // Using jQuery via $j(. . .) Reference is app/views/layouts/application.html.erb

  :javascript
    var form = $j("##{widget_id} form");
   
    form.submit(function() {
      $j.ajax({url: form.attr("data-event-url"), data: form.serialize()})
      return false;
    });
