.small This page generates the sequences only. To work in the database please use :

.centeright
  .linkTo= link_to '/sequences/new', :controller => :sequences, :action => :new

#new_box_anagram="Sequences Generator"

.new_entry_anagram
  = form_tag "" do
    = text_field_tag "sequencetext"

    = submit_tag "Submit Sequence", :id => 'sequencetext_submit', :name => 'sequencetext_submit'

.linkTo#reset= link_to 'Reset Page', :root

.anagramWidgetDisplay

-#
  = render 'form'  
  = render :state => 'list'
