<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'All Sequences', sequences_path %> | 
  <%= link_to 'New Sequence', new_sequence_path(@sequence) %>
</div>

<div class="sequence_search_lexigrams">
  <div id="search_sequence_lexigrams"><span>Search the Lexigram Sequence of Your Entry</span>
    <%= form_tag 'list', :action => 'list', :method => 'get' do %>
    <%= text_field_tag "sequencetext" %>
 
    <%= submit_tag "Search Lexigram", :id => 'lexigrams_search_submit', :name => 'lexigrams_search_submit' %>
    <% end %>
  </div>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Anagramsearch', :controller => :anagramsearch, :action => :display %> | 
  <%= link_to 'Singulars', :controller => :singulars, :action => :display %> | 
  <%= 'Lexigrams' %> | 
  <%= link_to 'Completes', :controller => :completes, :action => :display %> | 
  <%= link_to 'Creations', :controller => :creations, :action => :display %> | 
  <%= link_to 'Texts', :controller => :texts, :action => :display %>
</div></div>
