<input type='submit' id='sequencerOpen' value='Open Sequencer Widget' />

#sequencerWidgetDisplay

  .linksInfo Your available links are : 
  .linksInfoRoot= "To Root < You are here " 
  .linksGroup
    .linkTo= link_to 'Anagrams', :controller => :anagrams, :action => :new
    #countAnagrams= "#{Anagram.count}"
    .linkTo= link_to 'Quotes', :controller => :quotes, :action => :new
    #countQuotes= "#{Quote.count}"
    .linkTo= link_to 'Sequences', :controller => :sequences, :action => :new
    #countSequences= "#{Sequence.count}" 
    .linkTo= link_to 'SequenceCreateds', :controller => :sequence_createds, :action => :index
    #countSequenceCreateds= "#{SequenceCreated.count}"

    %p

  .count the SEQUENCES table exists solely to allow you to glimpse the entire application in one table.

  .count the SEQUENCES table allows and creates massive duplicates in the five sequences, which is not desired.

  .kathyonu apotomoing_sequencers is a <a href="http://www.goodworksonearth.org/board.html">kathy_onu</a> creation

  .tmpButtons

  <input type='submit' id='sequencerClose' value='Close Sequencer Widget' />
