<input type='submit' id='sequencerOpen' value='Open Sequencer Widget' />

#sequencerWidgetDisplay

  .linksInfo Your available links are : 
  .linksInfoRoot= "To Root < You are here " 
  .linksGroup
    .linkTo= link_to 'New Anagram', :controller => :anagrams, :action => :new
    .linkTo= link_to 'New Quote', :controller => :quotes, :action => :new
    .linkTo= link_to 'New Sequence', :controller => :sequences, :action => :new
    .linksInfoCrud These three links use CRUD methods in app/controllers/views

  .countAnagrams= "There are #{Anagram.count} ANAGRAMS in the anagram table"

  .countQuotes= "There are #{Quote.count} QUOTES in the quotes table"

  .countSequenceCreateds= "There are #{SequenceCreated.count} CREATEDS in the sequence_createds table"

  .count= "the CREATEDS calculation will be anagrams " + "  +  " + " quotes" +  " = " + "sequence_createds"

  .count the CREATEDS calculation will be in error until the five sequences fire from anagram entry.

  .countSequences= "There are #{Sequence.count} SEQUENCES in the sequences table" 

  .count the SEQUENCES table exists solely to allow you to glimpse the entire application in one table.

  .count the SEQUENCES table allows and creates massive duplicates in the five sequences, which is not desired.

  .tmpButtons

  <input type='submit' id='sequencerClose' value='Close Sequencer Widget' />
