.sequencer_widget_display

  %p
    Welcome to the <b>sequencer_widget_display</b>

  = "You have #{Anagram.count} anagrams in the anagrams table"
  %br
  = "You have #{Quote.count} quotes in the quotes table"
  %br
  = "You have #{SequenceCreated.count} createds in the sequence_createds table"
  %br
  = "You have #{Sequence.count} sequences in the sequences table" 
  
  %p
    Your available links are :
  = "To Root <  You are here"  
  %br 
  = link_to 'New Anagram', :controller => :anagrams, :action => :new
  %br
  = link_to 'New Quote', :controller => :quotes, :action => :new
  %br
  = link_to 'New Sequence', :controller => :sequences, :action => :new
  %br

