.sequencer_widget_display

  .here_begins
    here begins 
    %span.code_source
      app/widgets/sequencer/display.html.haml

  %br= "There are #{Anagram.count} anagrams in the anagram table"
  %br= "There are #{Quote.count} quotes in the quotes table"
  %br= "There are #{SequenceCreated.count} createds in the sequence_createds table"
  %small= " : this calculation is anagrams " + "+" + " quotes" +  " = " + "sequence_createds"
  %br
  %small= "The createds calculation will be in error until the five sequences fire from anagram entry."
  %br= "There are #{Sequence.count} sequences in the sequences table" 
  %br
  %br Your available links are : 
  %br To Root < You are here  
  %br= link_to 'New Anagram', :controller => :anagrams, :action => :new
  %br= link_to 'New Quote', :controller => :quotes, :action => :new
  %br= link_to 'New Sequence', :controller => :sequences, :action => :new

  %br
  %small ^^^ These three links use CRUD methods in app/controllers/views

  %br
  %small \/ Use the anagram widget boxes below to enter a new anagram
 
  .here_ends
    here ends 
    %span.code_source
      app/widgets/sequencer/display.html.haml
