.sequencer_widget_display

  %div.id1
    here begins
    <b>app/widgets/sequencer/display.html.haml</b>
    <br>

  %p

  = "You have #{Anagram.count} anagrams in the anagrams table"
  %br
  = "You have #{Quote.count} quotes in the quotes table"
  %br
  = "You have #{SequenceCreated.count} createds in the sequence_createds table"
  %small  : this calculation is still in error
  %br
  = "You have #{Sequence.count} sequences in the sequences table" 
  
  %p
    Your available links are :

  = "To Root < You are here"  
  %br 
  = link_to 'New Anagram', :controller => :anagrams, :action => :new
  %br
  = link_to 'New Quote', :controller => :quotes, :action => :new
  %br
  = link_to 'New Sequence', :controller => :sequences, :action => :new
  %br
  %br

  %div.id2
    here ends
    <b>app/widgets/sequencer/display.html.haml</b>
