<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'All Sequences', sequences_path %> | 
  <%= link_to 'Singulars', :controller => :singulars, :action => :display %> | 
  <%= link_to 'Lexigrams', :controller => :lexigrams, :action => :display %> | 
  <%= link_to 'Completes', :controller => :completes, :action => :display %> | 
  <%= link_to 'Creations', :controller => :creations, :action => :display %> | 
  <%= link_to 'Texts', :controller => :texts, :action => :display %>
</div>

<h2>text sequence search results</h2>

  <%= "your processed entry  ::: " + @sequencetextdecommaed %><br />
  <%= "its text sequence ::: " + @text_sequence %><br />
  <%= "total matches found :::: " + @texts_count %><br /><br /> 

<div id="resulttext">
  <table>
    <tr>
      <th>Text Matches</th>
      <th></th>
      <th></th>
    </tr>

    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.sequence_text %></td>
        <td><%= link_to 'Show', sequence %></td>
        <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'All Sequences', sequences_path %> | 
  <%= link_to 'Singulars', :controller => :singulars, :action => :display %> | 
  <%= link_to 'Lexigrams', :controller => :lexigrams, :action => :display %> | 
  <%= link_to 'Completes', :controller => :completes, :action => :display %> | 
  <%= link_to 'Creations', :controller => :creations, :action => :display %> | 
  <%= link_to 'Texts', :controller => :texts, :action => :display %>
</div>
