.anagram_widget_display
  
  %p
    %small
      here above begins the anagram_widget display

  %p 
    %small
      &nbsp;&nbsp;&nbsp;&nbsp; the call to the above QuoteCell is made from : app/cells/anagram_widget/display.html.haml

  %p This is the list of anagrams in the database :

  = widget_div do
    %ul
      - for a in @anagrams
        %li=a.id
        %li=a.text 
  %p
    = link_to 'Add a New Anagram', new_anagram_path 
    <= using http://localhost:3000/anagrams/new
  
  .cellular_quote
    = render_cell :quote, :display, :quote => @quote

  %p 

  = form_for @anagram, :as => :anagram, :html => {"data-event-url" => url_for_event(:submit)}, :url => "" do |f|
    = error_messages_for :sequence_creation
    = f.label 'Add Anagram'
    = f.text_field 'anagram'
   
    = submit_tag "Enter New Anagram"

  Add anagram box is not yet entering data into database, nor firing the five sequences.

  %p
    = link_to 'To Add a New Anagram', new_anagram_path 
    <= using http://localhost:3000/anagrams/new

  %p
    %small
      here ends the anagram_widget display
  
  :javascript
    var form = $("##{widget_id} form");
   
    form.submit(function() {
      $.ajax({url: form.attr("data-event-url"), data: form.serialize()})
      return false;
    });
  