<p id="notice"><%= notice %></p>
<p>
  <b>Text:</b>
  <%= @anagram.anagram_text %>
</p>
<p>
  <b>Description:</b>
  <%= @anagram.description %>
</p>
<p>
  <b>Reference:</b>
  <%= @anagram.reference %>
</p>
<p>
  <b>Creation Date:</b>
  <%= @anagram.created_at %>
</p>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Edit', edit_anagram_path(@anagram) %> | 
  <%= link_to 'Show All Anagrams', anagrams_path %>
</div>
