<!DOCTYPE html>
<html>
<head>
  <title>ApotomoingSequencers</title>
  <%= javascript_include_tag "jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.10.custom.min.js" %>
  <%= javascript_include_tag "complete.js" %>
  <%= javascript_include_tag "datepicker.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.10.custom.css" %>
  <%= stylesheet_link_tag "creations" %>
  <%= stylesheet_link_tag "sequencers" %>
  <%= csrf_meta_tag %>
  <%= javascript_tag "var $j = jQuery; jQuery.noConflict();" %>
</head>

<body>

<%= yield %>

</body>
</html>
