<!DOCTYPE html>
<html>
<head>
  <title>ApotomoingSequencers</title>
  <%= javascript_include_tag "all.js", :cache => false %>
  <%= javascript_include_tag "almost_ready.js", :cache => false %>
  <%= javascript_include_tag "jquery.activity-indicator-1.0.0.min.js" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.8.1.min.js" %>
  <%= stylesheet_link_tag "all.css", :cache => true %>
</head>
<body>

<%= yield %>

<div id="kathyonu">apotomoing_sequencers is a <a href="http://www.goodworksonearth.org/board.html"><span>kathy_onu</span></a> creation</div>

</body>
</html>
