<!DOCTYPE html>
<html>
<head>
  <title>ApotomoingSequencers</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "sequencers" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "javascripts/js/jquery-1.4.4.min" %>
  <%= javascript_include_tag "javascripts/js/jquery-ui-1.8.10.custom.min" %>
  <script type="text/javascript"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
