<!DOCTYPE html>
<html>
<head>
  <title>ApotomoingSequencers</title>
  <%= javascript_include_tag "jquery-1.4.4.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.10.custom.min" %>
  <%= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.10.custom" %>
  <%= stylesheet_link_tag "creations" %>
  <%= stylesheet_link_tag "sequencers" %>
  <%= csrf_meta_tag %>
  <%= javascript_tag "jQuery.noConflict();var $j = jQuery;" %>
</head>
<body>

<%= yield %>

</body>
</html>
