<%= form_for @sequence, do |f| %>
  <% if @sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequence.errors.count, "error") %> prohibited this sequence from being saved:</h2>

      <ul>
      <% @sequence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sequence_text %>    
    <%= f.text_field :sequence_text, :readonly => true, :size => 42 %>
  </div>
  <div class="field">
    <%= f.label :sequence_creation %>
    <%= f.text_field :sequence_creation, :readOnly => true, :size => 42 %>
  </div>
  <div class="field">
    <%= f.label :sequence_complete %>
    <%= f.text_field :sequence_complete, :readOnly => true, :size => 42 %>
  </div>
  <div class="field">
    <%= f.label :sequence_lexigram %>
    <%= f.text_field :sequence_lexigram, :readOnly => true, :size => 33 %>
  </div>
  <div class="field">
    <%= f.label :sequence_singular %>
    <%= f.text_field :sequence_singular, :readOnly => true, :size => 26 %>
  </div>
  <div class="field">
    <%= f.label :lense %>
    <%= f.text_field :lense, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description, :size => 65 %>
  </div>
  <div class="field">
    <%= f.label :reference %>
    <%= f.text_field :reference, :size => 65 %>
  </div>
  <div class="field">
    <%= f.label :anagram %>
    <%= f.check_box :anagram %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.check_box :name %>
  </div>
  <div class="field">
    <%= f.label :phrase %>
    <%= f.check_box :phrase, :checked => 'checked' %>
  </div>
  <div class="field">
    <%= f.label :research %>
    <%= f.check_box :sexualities %>
  </div>
  <div class="field">
    <%= f.label :external %>
    <%= f.check_box :external %>
  </div>
  <div class="field">
    <%= f.label :internal %>
    <%= f.check_box :internal %>
  </div>
  <div class="actions">
    <%= f.submit :id => 'sequence_submit', :name => 'sequence_submit' %>
  </div>
<% end %>
