<%= form_for(@sequence) do |f| %>
  <% if @sequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sequence.errors.count, "error") %> prohibited this sequence from being saved:</h2>

      <ul>
      <% @sequence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sequence_text %><br />
    <%= f.text_field :sequence_text %>
  </div>
  <div class="field">
    <%= f.label :sequence_creation %><br />
    <%= f.text_field :sequence_creation %>
  </div>
  <div class="field">
    <%= f.label :sequence_complete %><br />
    <%= f.text_field :sequence_complete %>
  </div>
  <div class="field">
    <%= f.label :sequence_lexigram %><br />
    <%= f.text_field :sequence_lexigram %>
  </div>
  <div class="field">
    <%= f.label :sequence_singular %><br />
    <%= f.text_field :sequence_singular %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :anagram %><br />
    <%= f.check_box :anagram %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.check_box :name %>
  </div>
  <div class="field">
    <%= f.label :phrase %><br />
    <%= f.check_box :phrase %>
  </div>
  <div class="field">
    <%= f.label :sexualities %><br />
    <%= f.check_box :sexualities %>
  </div>
  <div class="field">
    <%= f.label :external %><br />
    <%= f.check_box :external %>
  </div>
  <div class="field">
    <%= f.label :internal %><br />
    <%= f.check_box :internal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
