<h1>Editing Sequence</h1>

<div id="sequence_edit">
  <div class="sequenceDisplay">
    <div id="sequencerSequence" class="sequenceSequencer">
         <label for=sequenceEntry>Enter your data</label>:
         <input id="sequenceEntry" name="sequenceEntry" type="string" value="Enter_Your_Data" size="100" tabindex=1 />
       </form>
    </div>
  </div>
</div>
<div class="editSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show This Sequence', @sequence %> |
  <%= link_to 'All Sequences', sequences_path %> |
  <%= link_to 'New Sequence', new_sequence_path %>
</div>