<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show This Sequence', @sequence %> |
  <%= link_to 'All Sequences', sequences_path %> |
  <%= link_to 'New Sequence', new_sequence_path %>
</div>

<h1>Editing Sequence</h1>

<div class="sequence_edit">
  <%= form_tag "" do %>
  <%= text_field_tag "sequencetext" %><br />
  <span id="sequencetextnote">Enter data, then tab out</span>

  <%= submit_tag "Submit Sequence", :id => 'sequencetext_submit', :name => 'sequencetext_submit' %> <!--hidden-->
  <% end %>
</div>

<div class="editSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show This Sequence', @sequence %> |
  <%= link_to 'All Sequences', sequences_path %> |
  <%= link_to 'New Sequence', new_sequence_path %>
</div>