<h1>Listing sequences</h1>

<table>
  <tr>
    <th>Created</th>
    <th>Creation</th>
    <th>Complete</th>
    <th>Lexigram</th>
    <th>Singular</th>
    <th>Description</th>
    <th>Reference</th>
    <th>Anagram</th>
    <th>Name</th>
    <th>Phrase</th>
    <th>Sexuality</th>
    <th>ExternalSearch</th>
    <th>InternalSearch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sequences.each do |sequence| %>
  <tr>
    <td><%= sequence.sequence_text %></td>
    <td><%= sequence.sequence_creation %></td>
    <td><%= sequence.sequence_complete %></td>
    <td><%= sequence.sequence_lexigram %></td>
    <td><%= sequence.sequence_singular %></td>
    <td><%= sequence.description %></td>
    <td><%= sequence.reference %></td>
    <td><%= sequence.anagram %></td>
    <td><%= sequence.name %></td>
    <td><%= sequence.phrase %></td>
    <td><%= sequence.sexualities %></td>
    <td><%= sequence.external %></td>
    <td><%= sequence.internal %></td>
    <td><%= link_to 'Show', sequence %></td>
    <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
    <td><%= link_to 'Destroy', sequence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'New Sequence', new_sequence_path %>
</div>

<div id="datepick">
  Datepicker from jQuery 
  <br />
<input type="text" name="date" id="date" />
  <br />
  Clicking on the box will
  <br />
  show jQuery is working.
  <br />  
</div>
