<!-- this file is affected by lexidisplay.js -->

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %>
</div>

<p>Current Time is <%= "#{Time.now.to_s}" %></p>

<h1>New Sequence</h1>

<%= render_widget 'lexi' %>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %>
</div>
