<!-- this file is affected by lexidisplay.js -->

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %>
</div>

<p>Current Time is <%= "#{Time.now.to_s}" %></p>

<h1>New Sequence</h1>

<div class="field">
  <%= form_tag @sequence, :remote => true %>
  <%= text_field_tag "sequencetext" %>

  <%= submit_tag "Submit Sequence", { :id => "sequencetext_submit" } %>
</div>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %>
</div>
