<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %> | 
  <%= link_to 'Search Singular', :controller => :singulars, :action => :display %>
</div>

<div id="new_box_sequence">New Entry
  <div class="new_entry_sequence">
    <%= form_tag "" do %>
    <%= text_field_tag "sequencetext" %>

    <%= submit_tag "Submit Sequence", :id => 'sequencetext_submit', :name => 'sequencetext_submit' %> <!--hidden by jquery-->
    <% end %>
  </div>
</div>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %> |
  <%= link_to 'Search Singular', :controller => :singulars, :action => :display %>
</div>
