<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'All Sequences', sequences_path %> |
  <%= link_to 'New Sequence', new_sequence_path %>
</div>

<div id="new_box_sequence">New Entry
  <div class="new_entry_sequence">
    <%= form_tag "" do %>
    <%= text_field_tag "sequencetext", "Enter Data, then tab out" %>

    <%= submit_tag "Submit Sequence", :id => 'sequencetext_submit', :name => 'sequencetext_submit' %> <!--hidden by jquery-->
    <% end %>
  </div>
</div>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'Root', :root %> | 
  <%= link_to 'Anagramsearch', :controller => :anagramsearch, :action => :display %> | 
  <%= link_to 'Singulars', :controller => :singulars, :action => :display %> | 
  <%= link_to 'Lexigrams', :controller => :lexigrams, :action => :display %> | 
  <%= link_to 'Completes', :controller => :completes, :action => :display %> | 
  <%= link_to 'Creations', :controller => :creations, :action => :display %> | 
  <%= link_to 'Texts', :controller => :texts, :action => :display %>
</div>
