<!-- this file is affected by sequencenewsequencers.js-->

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %>
</div>

<div id="time">Now</div>

<p>Current Time Not : <%= "#{@get_time}" %> </p>
<p>Current Time Not : <!--%= "#{get_time}" %--> </p>
<p>Current Time Not : <%= @get_time %> </p>
<p>Current Time Not :  @get_time </p>
<p>Current Time Not :  @get_time </p>
<p>Current Time Not :  get_time </p>
<p>Current Time Not :  "#{@get_time}" </p>
<p>Current Time Not :  "#{get_time}" </p>
<p>Current Time Not : <!--%= get_time %--> </p>
<p>Current Time Not : <!--%= "#{get_time}" %--> </p>
<p>Current Time Not : <%= "#{@get_time}" %> </p>

<h1>New Sequence</h1>

<div id="single">
  <div class="sequenceDisplay">
    <div id="sequencerSequence" class="sequenceSequencer">
       <input id="sequenceEntry" name="sequenceEntry" data-remote='true', data-sequenceEntry='value', type="string" value="Enter_Your_Data" size="100" tabindex=1 />
    </div>
  </div>
</div>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Show All Sequences', sequences_path %>
</div>
