<h1>New Sequence</h1>
<!-- this file is affected by sequencenewsequencers.js-->

<div id="single">
  <div class="sequenceDisplay">
    <div id="sequencerSequence" class="sequenceSequencer">
       <input id="sequenceEntry" name="sequenceEntry" type="string" value="Enter_Your_Data" size="100" tabindex=1 />
    </div>
  </div>
</div>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Anagrams', anagrams_path %> | 
  <%= link_to 'Quotes', quotes_path %> |
  <%= link_to 'SequenceCreateds', sequence_createds_path %> |
  <%= link_to 'Sequences', sequences_path %>
</div>
