<h1>New sequence</h1>
<!-- this file is affected by userentrysequencer.js-->

<div class="single">
  <div class="sequenceDisplay">
    <div id="sequencerSequence" class="sequenceSequencer">

<form data-remote="true" action="">
  <label for=sequenceEntry>Enter your data</label>:
  <input id="sequenceEntry" name="sequenceEntry" type="string" size="100" tabindex=1 />
  <input id="submit" type=submit value="Calculate sequence_text" />
</form>
</div>
</div>
</div>

<div class="newSequence">
  <%= render 'form' %>
</div>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Anagrams', anagrams_path %> | 
  <%= link_to 'Quotes', quotes_path %> |
  <%= link_to 'Sequences', sequences_path %>
  <%= link_to 'SequenceCreateds', sequence_createds_path %>
</div>
