<p id="notice"><%= notice %></p>

<p>
  <b>Sequence created:</b>
  <%= @sequence.sequence_text %>
</p>

<p>
  <b>Sequence creation:</b>
  <%= @sequence.sequence_creation %>
</p>

<p>
  <b>Sequence complete:</b>
  <%= @sequence.sequence_complete %>
</p>

<p>
  <b>Sequence lexigram:</b>
  <%= @sequence.sequence_lexigram %>
</p>

<p>
  <b>Sequence singular:</b>
  <%= @sequence.sequence_singular %>
</p>

<p>
  <b>Description:</b>
  <%= @sequence.description %>
</p>

<p>
  <b>Reference:</b>
  <%= @sequence.reference %>
</p>

<p>
  <b>Anagram:</b>
  <%= @sequence.anagram %>
</p>

<p>
  <b>Name:</b>
  <%= @sequence.name %>
</p>

<p>
  <b>Phrase:</b>
  <%= @sequence.phrase %>
</p>

<p>
  <b>Sexualities:</b>
  <%= @sequence.sexualities %>
</p>

<p>
  <b>External:</b>
  <%= @sequence.external %>
</p>

<p>
  <b>Internal:</b>
  <%= @sequence.internal %>
</p>

<div class="links">
  <%= link_to 'To Root', :root %> | 
  <%= link_to 'Edit', edit_sequence_path(@sequence) %> |
  <%= link_to 'Show All Sequences', sequences_path %>
</div>